
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: arial;
}
.conteiner {
    display: flex;
    justify-content:space-between;
    justify-items: center;
    padding: 1px 20px 0 ;
    background-color: #141414;
    color: rgb(199, 0, 0);
    
}
.logo{
    font-family: Arial black, sans-serif;
    font-size: 3rem;
    font-weight: 1000;
}
nav{
    display: flex;
    align-items: center;
}
ul{
    list-style-type: none;
    display: inline;
}

li {
    display: inline;
    padding: 0px 8px  ;
    
}
a {
    text-decoration: none;
    color: #ccc;
    font-size: 1.2rem;
}

.main{
    display: flex;
    flex-direction: column;
    color: #fff;
}
.main-dest {
    width: 100%;
    position: relative;
}
.img-dest{
    width: 100%;
    height: 80vh;
}
.img-dest img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.filme-destaque {    
    position: absolute;
    bottom:5%;
    left: 2px;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    padding: 0 20px 0;
}

.filme-destaque h3 {
    font-size: 3.5rem;
    margin-bottom: 15%;
}
.filme-destaque p{
    max-width: 60%;
    font-size: 1.2rem;
    text-align: justify;
}
.botoes {
    text-transform: uppercase;
    display: flex;
    bottom: 0;
} 

button {
    text-transform: uppercase;
    padding: 10px 30px;
    background-color: #050505;
    border: 0 #050505;
    color: #fff;
    font-size: 16px;
    margin: 30px 20px 0 0;
    align-items: center;
    cursor: pointer;
    
    
}button:hover {
    background-color: #fff;
    border: 0 #fff;
    color: #050505;
    
}
.box-filmes {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}
.main-slide {
    margin-top: 10px;
}